@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #F3F5FC;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Inter", sans-serif;
}

header {
    padding: 3% 0 0 3%;
    /* position: fixed; */
}

main {
    flex: 1;
}

.container {
    display: flex;
    padding: 0 2% 5% 15%;
    /* align-items: center; */
    gap: 40px;
}

.container__decodificador {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 4% 0;
}

.container__decodificador__input {
    width: 100%;
    height: 100%;
    /* color: #0A3871; */

    font-weight: 400;
    font-size: 3.2rem;
    border: none;
    /* text-transform: lowercase; */
    background-color: #F3F5FC;
}

::placeholder {color: #0A3871}
.container__decodificador__input:focus {
    outline: none;
}

.container__decodificador__regra {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container__decodificador__regra__texto {
    color: #495057;
    font-weight: 400;
    font-size: 1.2rem;
    
}

.container__decodificador__botoes {
    display: flex;
    gap: 24px;
}

.botao__cript {
    width: 280px;
    padding: 24px;
    border-radius: 24px;
    background-color: #0A3871;
    border-color: #0A3871;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.6rem;
}

.botao__descript {
    width: 280px;
    padding: 24px;
    border-radius: 24px;
    background-color: #D8DFE8;
    border-color: #0A3871;
    color: #0A3871;
    font-weight: 400;
    font-size: 1.6rem;
}

.container__areaCopia {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container__areaCopia__conteudo {
    border-radius: 32px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.container__areaCopia__conteudo > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10%;
    gap: 20px;
}

#textoDescriptogafado {
    word-break: break-word;
}

footer {
    background-color: #0A3871;
    color: #F3F5FC;
    padding: 2%;
}

footer > p {
    text-align: center;
    font-size: 1.6rem;
}